/*
* @Author: 卓文理
* @Email : 531840344@qq.com
* @Desc  : 折叠菜单
*/

.weui_accordion_box{
    background: #fbf9fe;
}
.weui_accordion_box .weui_accordion_title{
    position: relative;
    display: block;
    padding: 10px 15px 12px;
    font-size: 17px;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
}
.weui_accordion_box .weui_accordion_title:before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.weui_accordion_box .weui_accordion_title:after{
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 6px;
    width: 6px;
    border-width: 0 2px 2px 0;
    border-color: #C7C7CC;
    border-style: solid;
    top: -2px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -4px;
}
.weui_accordion_box .weui_accordion_title.active:after{
    border-width: 2px 0 0 2px;
}
.weui_accordion_box .weui_accordion_content{
    position: relative;
    padding: 15px;
    display: none;
}
.weui_accordion_box .weui_accordion_content:after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.weui_accordion_box .weui_accordion_content.active{
    display: block;
}